<!DOCTYPE html>
<html>
<head>
  <title>BellSchedule</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Sign in with Clever", "https://clever.com/oauth/authorize?response_type=code&redirect_uri=http://localhost:3000/oauth&client_id=1da85a8592e00bdb1240&scope=read%3Auser&district_id=52c5e88553a943970d001718"%>
<%= yield %>

</body>
</html>
